# Copyright (C) 2013-2016 JadeCore <http://www.jadecore.net/>
#
# This file is free software; as a special exception the author gives
# unlimited permission to copy and/or distribute it, with or without
# modifications, as long as this notice is preserved.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
# implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE

language: cpp
compiler:
  - clang

git:
  depth: 1

before_install:
  - sudo apt-get -qq install build-essential libtool make cmake cmake-data openssl
  - sudo apt-get -qq install libssl-dev libmysqlclient-dev libmysql++-dev libreadline6-dev zlib1g-dev libbz2-dev
  - sudo apt-get -qq install libboost1.55-dev libboost-thread1.55-dev libboost-filesystem1.55-dev libboost-system1.55-dev libboost-program-options1.55-dev libboost-iostreams1.55-dev
  - sudo apt-get -qq install mysql-server
  - git config user.email "travis@build.bot" && git config user.name "Travis CI"
  - git tag -a -m "Travis build" init

install:
  - mysql -uroot -e 'create database test_mysql;'
  - mkdir bin
  - cd bin
  - cmake ../ -DWITH_WARNINGS=1 -DWITH_COREDEBUG=0 -DUSE_COREPCH=1 -DUSE_SCRIPTPCH=1 -DTOOLS=1 -DSCRIPTS="dynamic" -DSERVERS=1 -DNOJEM=1 -DWITH_DYNAMIC_LINKING=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=check_install
  - cd ..
  - chmod +x contrib/check_updates.sh

script:
  - cd ..
  - mysql -uroot < sql/create/create_mysql.sql
  - mysql -ujadecore -pjadecore auth < sql/base/auth_database.sql
  - mysql -ujadecore -pjadecore characters < sql/base/characters_database.sql
  - mysql -ujadecore -pjadecore world < sql/base/dev/world_database.sql
  - cat sql/updates/auth/5.4.7/*.sql | mysql -ujadecore -pjadecore auth
  - cat sql/updates/characters/5.4.7/*.sql | mysql -ujadecore -pjadecore characters
  - cat sql/updates/world/5.4.7/*.sql | mysql -ujadecore -pjadecore world
  - mysql -uroot < sql/create/drop_mysql.sql
  - cd bin
  - make -j 8 -k && make install
  - cd check_install/bin
  - ./authserver --version
  - ./worldserver --version
  
notifications:
  email:
    - jadecoreproject@gmail.com